body{
    margin:0;
    font-family:Arial, sans-serif;
    background-image: linear-gradient(#b85ef0, #b2438b, #2f0c4d);
}

.page{
    width:430px;
    margin:auto;
    background-image: linear-gradient(#F0B35E, #B28343, #BB4ABD);
}

.header{
    position:relative;
    border:4px solid #74557e;
}

.header-img{
    width:100%;
    height:120px;
    object-fit:cover;
}

.header-bar{
    position:absolute;
    top:10px;
    left:10px;
    display:flex;
    align-items:center;
    padding:6px;
}

.avatar{
    width:60px;
    height:60px;
}

.header-bar h1{
    margin:0 0 4px 8px;
    color:#FF0066;
    font-size:18px;
}

.header-bar p{
    margin-left:8px;
    color:#e8aaf9;
    font-size:12px;
}

.logo{
    width:100%;
}

.pink{
    color:#FF0066;
    font-weight:bold;
    padding:8px;
}

.content{
    display:flex;
    justify-content:space-between;
    padding:10px;
}

.left ul{
    color:#74557e;
    font-weight:bold;
}

.right img{
    width:110px;
    display:block;
    margin-bottom:10px;
}

.textblock{
    padding:10px;
    color:#bdfffa;
    font-weight:bold;
}

.footer{
    background: linear-gradient(to right, rgba(255, 0, 102, 1) 0%, rgba(244, 167, 25, 1) 19%, rgba(255, 0, 102, 1) 46%, rgba(125, 63, 249, 1) 72%, rgba(255, 255, 255, 1) 96%);
    text-align:center;
    color:white;
    font-weight:bold;
    padding:8px;
    display:flex;
    justify-content:space-around;
}

h1, h2 {
    font-size: 32px; 
    font-weight: bold;
    background: linear-gradient(
        180deg,
        rgba(255, 0, 102, 1) 0%,
        rgba(244, 167, 25, 1) 19%,
        rgba(255, 0, 102, 1) 46%,
        rgba(125, 63, 249, 1) 72%,
        rgba(255, 255, 255, 1) 96%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
nav a{
    text-decoration: none;
    font-weight: bold;
    color: #f0c0ff;
}

a:hover{
    color:#BB4ABD;
}
